body {
    background-color: #4100f514;
    color: #000000;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#top {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
}


header {
    color: #660c7c;
    padding: 10px 10px;
    text-align: center;
    border-bottom: #2d065cb9;
    border-bottom-style: double;
}

a {
    color: #000000;
    text-decoration: double;
    font-size: 20px;
    width: 100%;
}

a:hover {
    color: #2d065cd3;
    font-weight: bold;
    text-decoration: underline;
}

nav ul {
    margin: 20px;
    list-style: none;
    text-align: center;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}

section {
    background-color: #ffffff;
    padding: 10px;
    margin: 15px;
    box-shadow: 2px 2px 5px #2d065cb9;
}

#protocolos_api {
    width: 100%;
    padding: 15px;
    list-style: none;
    text-align: center;
}

#protocolos_api li {
    display: inline-block;
    margin: 0 35px 0 1px;
    width: 22%;
    text-align: justify;
    vertical-align: top;
}

#ferramentas_api {
    text-align: center;
    width: 100%;
    padding: 10px;
}

#ferramentas_api li {
    display: inline-block;
    margin: 0 30px 0 30px;
}

#exemplos_api li {
    margin-bottom: 10px;
}

#rerefencias_api li {
    list-style: none;
    margin-bottom: 10px;
}