.task-card {
    flex: 0 0 auto;
    position: relative;
    width: 200px;
    margin: 5px;
    height: 7rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fcfcfcbc;
}

