.task-card {
    flex: 0 0 auto;
    position: relative;
    width: 200px;
    margin: 5px;
    height: 7rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fcfcfcbc;
    border: 2px dashed;
    /* Alterado para bordas pontilhadas */
}

