/*--SIDEBAR--*/

/*Logo*/
#img-logo {
    color: #6a55c7;
}

#logo {
    padding: 10px;
    color: #787486;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: x-large;
    border-bottom: 2px solid #dfdddd;
}

/*Bar*/
.sidebar-container {
    width: 15%;
    height: 100vh;
    background-color: #f5f5f56f;
    border: 1px solid rgba(221, 215, 215, 0.475);
    border-radius: 10px;
    flex-shrink: 0
}

.sidebar-container a {
    color: #787486;
    text-decoration: none;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
}

.sidebar-container a:hover {
    border: 0;
    border-radius: 15px;
    background-color: #e3d4ff5d;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: 10px;
}

.bi {
    color: #495057;
    padding: 10px;
    margin-left: 10px;
    margin-right: 2px;
}

.menu {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    border-bottom: 2px solid #dfdddd;
    padding-bottom: 20px;
}

/*-Legendas*/
#legenda h2 {
    color: #787486;
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
    font-weight: bold;
    font-size: medium;
}

.color-list {
    font-family: 'Inter', sans-serif;
    color: #787486;
    line-height: 35px;
}

.color-list li::marker {
    font-size: 20px;
}

.color-list li:nth-child(1)::marker {
    color: #ff3a3aba;
}

.color-list li:nth-child(2)::marker {
    color: #867cf8;
}

.color-list li:nth-child(3)::marker {
    color: #FECA15;
}

.color-list li:nth-child(4)::marker {
    color: #7BC6D7;
}
